[submodule "cpp/submodules/parquet-testing"]
	path = cpp/submodules/parquet-testing
	url = https://github.com/apache/parquet-testing.git
[submodule "testing"]
	path = testing
	url = https://github.com/apache/arrow-testing
[submodule "cpp/submodules/brpc-rdma"]
	path = cpp/submodules/brpc-rdma
	url = https://github.com/apache/incubator-brpc.git
